language: php

dist: trusty

php:
    - 5.6.0
#    - 7.0
#    - 7.1
#    - 7.2
#    - 7.3
#    - nightly

# run build against nightly but allow them to fail
matrix:
    fast_finish: true
    allow_failures:
        - php: nightly

# faster builds on new travis setup not using sudo
sudo: false

services:
    - memcached

# cache vendor dirs
cache:
    directories:
        - lib/vendor/swiftmailer
        - $HOME/.composer/cache

install:
    - composer self-update

before_script:
    - sh -c 'if [ $(php -r "echo PHP_MAJOR_VERSION;") -ge 7 ]; then echo yes | pecl upgrade apcu && phpenv config-add ./test/.travis/php.ini; fi;'
    - sh -c 'if [ $(php -r "echo PHP_RELEASE_VERSION;") -le 98 ] && [ $(php -r "echo PHP_MAJOR_VERSION;") -le 5 ]; then echo "extension = memcache.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi;'
    - composer install

script:
    - php data/bin/check_configuration.php
    - php test/unit/cache/sfMemcacheCacheTest.php
    - php data/bin/symfony symfony:test --trace
